{% extends 'layout-lglorg.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-home-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome {{new_user.first_name}} !</h1>
              </div>
              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li class="{{messages.tags}}">
                    {{messages|safe}}
                  </li>
                  <a href="#" class="close">x</a>
                {% endfor %}
              </ul>
              {% endif %}
              <hr>
              
                <a class="btn btn-primary btn-user btn-block" href="admin/login">Admin Login</a>
             
                <a class="btn btn-primary btn-user btn-block" href="account/login">User Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock %}